<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a href="#" class="navbar-brand" id='navbar-brand'>
   <img id="navbar-logo-desktop" src="/images/kate/bee-favicon.png">
  </a>
  <!-- <img id='navbar-logo' src="images/kate/bee-favicon.png" alt="..."> -->
  <!-- <a class="navbar-brand" href="#"></a> -->
  <!-- <a href="#" class="navbar-left"><img src="/path/to/image.png"></a> -->
  <button class="navbar-toggler" id='navbar-btn' type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" src="/images/kate/bee-favicon.png">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <span class="text-dark">Menu</span>
    <!-- <div class="bg-warning text-secondary">Menu</div> -->
    <img id='navbar-logo-mobile' src="/images/kate/bee-favicon.png" alt="...">
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/index.html">Home</a>
      <a class="nav-item nav-link" href="/about.html">About</a>
      <a class="nav-item nav-link" href="/cv.html">CV</a>
      <a class="nav-item nav-link" href="/publications.html">Publications</a>
      <a class="nav-item nav-link" href="/outreach.html">Outreach</a>
      <a class="nav-item nav-link" href="/acknowledgements.html">Acknowledgements</a>
      <a class="nav-item nav-link" href="/pollinationecologycourse.html">Courses</a>
    </div>
  </div>
</nav>

<!-- go to top button -->
<a href="#" id="toTopBtn" class="bg-primary cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true">
  <svg id='go-to-top' class="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</a> 