<!DOCTYPE html>
   <html class="no-js" lang="en">

   <head>
      <div id="head-placeholder"></div>

      <!-- CSS
       ================================================== -->
      <link rel="stylesheet" href="css/default.css">
      <link rel="stylesheet" href="css/layout.css">
      <link rel="stylesheet" href="css/media-queries.css">
      <link rel="stylesheet" href="css/magnific-popup.css">
   </head>

   <body>
      <div id="nav-placeholder"></div>

      <!-- Custom Section. Edit this only per page.
      ================================================== -->
      <section id="about">

         <div class="row">

            <div class="centered-row">

               <div class="fit-p">

                  <!-- <h1>Curriculum Vitae</h1>
                  <p>If the embedded CV is not displaying properly, you can <u><a href="assets/cv.pdf" target="_blank">download the PDF.</a></u></p>
                  <p>Last updated: 31 January 2021</p>

                  <iframe class="embed-document" frameborder="0" scrolling="no"
                    src="https://drive.google.com/file/d/1Dmj0niuQUaH-_nE8prFGclIShbd6V-Qq/preview">
                  </iframe> -->

               </div>
               <!-- fit-p end -->

            </div>
            <!-- centered-row end -->

         </div>
         <!-- row end -->

      </section>
      <!-- Section End-->

      <div id="footer-placeholder"></div>

      <!-- Java Script
      ================================================== -->
      <script language="JavaScript" type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
      <script language="JavaScript" type="text/javascript" src="/js/placeholders.js"></script>

   </body>

</html>
