<!DOCTYPE html>
   <html class="no-js" lang="en">

   <head>
      <div id="head-placeholder"></div>

      <!-- CSS
       ================================================== -->
      <link rel="stylesheet" href="css/default.css">
      <link rel="stylesheet" href="css/layout.css">
      <link rel="stylesheet" href="css/media-queries.css">
      <link rel="stylesheet" href="css/magnific-popup.css">
   </head>

   <body>
      <div id="nav-placeholder"></div>

      <!-- Custom Section. Edit this only per page.
      ================================================== -->
      <section id="about">

         <div class="row">

            <div class="centered-row">

               <div class="fit-p">

                  <h1 class="margin-bottom">SECTION TITLE</h1>

                  <p>Hey</p>

               </div>
               <!-- fit-p end -->

            </div>
            <!-- centered-row end -->

         </div>
         <!-- row end -->

      </section>
      <!-- Section End-->

      <div id="footer-placeholder"></div>

      <!-- Java Script
      ================================================== -->
      <script language="JavaScript" type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
      <script language="JavaScript" type="text/javascript" src="/js/placeholders.js"></script>

   </body>

</html>
